<div class="container" style="margin-top: 20px;">
    <div class="form-group row">
        <label class="col-2 col-form-label">Texto filtro:</label>
        <div class="col-7">
            <input class="form-control" type="text" name="searchTerm" />
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="customTittleLabel">Fecha Desde</label>
            <input class="form-control" [ngClass]="{'is-invalid':!forma.get('dtmFechaDesde').valid }" type="date"
                placeholder="FechaDesde" formControlName="dtmFechaDesde">

        </div>
        <div class="form-group col-md-4">
            <label class="customTittleLabel">Fecha Hasta</label>
            <input class="form-control" [ngClass]="{'is-invalid':!forma.get('dtmFechaHasta').valid }" type="date"
                placeholder="FechaHasta" formControlName="dtmFechaHasta">

        </div>

    </div>
    <div class="table-responsive-lg">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id empleado</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Código</th>
                    <th scope="col">Primer nombre</th>
                    <th scope="col">Segundo nombre</th>
                    <th scope="col">Primer apellido</th>
                    <th scope="col">Segundo apellido</th>
                    <th scope="col" align="center">Fecha de nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let iemp of empleados$ | async" (click)="cargarDatos(iemp.intpkIdEmpleado)">
                    <th scope="row"> {{iemp.intpkIdEmpleado}}</th>
                    <td scope="row"> {{iemp.strCedula}}</td>
                    <td scope="row"> {{iemp.strCodigo}}</td>
                    <td scope="row"> {{iemp.strPrimerNombre}}</td>
                    <td scope="row"> {{iemp.strSegundoNombre}}</td>
                    <td scope="row"> {{iemp.strPrimerApellido}}</td>
                    <td scope="row"> {{iemp.strSegundoApellido}}</td>
                    <td scope="row" align="center"> {{iemp.dtmFechaNacimiento | date:'dd/MM/yyyy'}}</td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>